@media(max-width:1920px){
    .nombre{
        font-size: 50px;
        left: 7px;
    }
    .sobre_mi{
        font-size: 28px;
    }
    .introduccion{
        right: 23.5%;
    }
    .pro{
        font-size: 28px;
    }
    .cont{
        font-size: 28px;
    }
    .saludo{
        font-size: 90px;
    }
    .texto{
        font-size: 70px;
    }
    button{
        top: -14.5%;
        padding: 8%;
        font-size: 38px;
        right: 2%;
    }
    .foto{
        top: 20.5%;
        display: flex;
        left: 47%;
        height: 77%;
    }
    h3{
        font-size: 60px;
    }
    .titulo{
        bottom: 170px;
    }
    p{
        font-size: 30px;
    }
    .conoceme{
        right: 18.5%;
    }
    .habilidades{
        top: 6.5%;
    }
    .titulo_about{
        top: 10%;
    }
    .tecnologias{
        right: 56%;
        top: 39%;
    }
    .titulo_proyectos{
        left: 8%;
        bottom: 23px;
    }
    .imagen_pr{
        left: -70%;
        width: 470px;
        height: 370px;
    }
    .services{
        right: 7px;
        position: relative;
        font-size: 27px;
        top: 60px;
    }
    footer{
        height: 94vh;
    }
    .titulo_contacto{
        font-size: 60px;
        bottom: 220px;
        left: 22%;
    }
    .saber{
        bottom: 240px;
        left: 18%;
        font-size: 28px;
    }
    .social{
        font-size: 40px;
        right: 38%;
        left: -38%;
    }
    .github{
        font-size: 30px;
    }
    .git{
        font-size: 20px;
    }
    .linkedin{
        font-size: 30px;
        top: 2px;
    }
    .linke{
        font-size: 20px;
        left: 125px;
        bottom: 52px;
    }
    form{
        bottom: 30px;
        right: 17px;
    }
    label{
        font-size: 22px;
    }
    input{
        padding-top: 22px;
        font-size: 22px;
    }
    .nom{
        font-size: 30px;
        left: 76%;
        bottom: 130px;
    }
    .nombre_form{
        left: 63%;
        bottom: 100px;
        font-size: 25px;
        width: 280px;
    }
    .apelli{
        font-size: 30px;
        left: 223px;
        bottom: 30px;
    }
    .apellido_form{
        left: 15%;
        top: 5px;
        font-size: 25px;
    }
    .correo{
        font-size: 30px;
        left: -160px;
        top: 75px;
    }
    .email_form{
        top: 105px;
        right: 235px;
        font-size: 25px;
    }
    .escribir{
        font-size: 30px;
        top: 190px;
        left: -516px;
    }
    .mensaje_form{
        top: 250px;
        right: 633px;
        font-size: 25px;
    }
    .enviar{
        font-size: 240%;
        right: 595px;
        top: 270px;
    }
    .ver_proyecto{
        top: 22%;
        width: 55%;
        padding: 14px;
        left: 18%;
    }
    .services{
        position: relative;
        font-size: 30px;
    }
}
@media(max-width:1440px){
    .nombre{
        font-size:28px;
    }
    .sobre_mi{
        font-size: 19px;
    }
    .pro{
        font-size: 19px;
    }
    .cont{
        font-size: 19px;
    }
    .saludo{
        top: 11%;
        font-size: 50px;
    }
    .texto{
        font-size: 40px;
    }
    .foto{
        left: 45%;
    }
    button{
        top: -27%;
        font-size: 25px;
    }
    h3{
        font-size: 42px;
    }
    .titulo{
        bottom: 130px;
    }
    p{
        font-size: 20px;
    }
    .conoceme{
        right: 23.5%;
    }
    .habilidades{
        top: 7.5%;
    }
    .tecnologias{
        right: 52.6%;
        top: 40.5%;
    }
    .titulo_proyectos{
        left: 9%;
    }
    .imagen_pr{
        left: -59%;
        width: 360px;
        height: 275px;
    }
    .ver_proyecto{
        font-size:23px ;
        left: 18%;
        padding: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        top: 19%;
    }
    .services{
        font-size: 20px;
        top: 42px;
        left: 2px;
    }
    form{
        top: -47px;
        right: 65px;
    }
    .titulo_contacto{
        font-size: 42px;
        bottom: 150px;
        left: 31%;
    }
    .saber{
        left: 26%;
        font-size: 24px;
        bottom: 180px;
    }
    .social{
        right: 16.5%;
        left: -16.5%;
        font-size: 25px;
        top: -25px;
    }
    li{
        top: -72px;
    }
    .github{
        font-size: 20px;
    }
    .git{
        font-size: 17px;
        top: -47px;
    }
    .linkedin{
        font-size: 20px;
    }
    .linke{
        font-size: 17px;
        bottom: 40px;
        left: 100px;
    }
    .nom{
        left: 66%;
        font-size: 20px;
    }
    .nombre_form{
        font-size: 20px;
        left: 57.4%;
    }
    .apelli{
        left: 232px;
        font-size: 20px;
    }
    .apellido_form{
        font-size: 20px;
        left: 20.3%;
    }
    .email_form{
        font-size: 20px;
        right: 115px;
    }
    .correo{
        font-size: 20px;
        left: -65px;
    }
    .escribir{
        font-size: 20px;
        left: -342px;
    }
    .mensaje_form{
        font-size: 20px;
        right: 418px;
    }
    .enviar{
        font-size: 140%;
        right: 400px;
    }
}
@media(max-width:1280px){
    .nombre{
        font-size: 24px;
        left: -17px;
    }
    .sobre_mi{
        font-size: 16px;
    }
    .pro{
        font-size: 16px;
    }
    .cont{
        font-size: 16px;
    }
    .saludo{
        font-size: 40px;
        top: 9%;
    }
    .texto{
        font-size: 38px;
    }
    button{
        font-size: 22px;
        padding: 7%;
    }
    h3{
        font-size: 38px;
    }
    p{
        font-size: 18px;
    }
    .conoceme{
        top: 12.8%;
        right: 26.5%;
    }
    .habilidades{
        top: 5.5%;
    }
    .tecnologias{
        right: 54.5%;
        top: 36%;
    }
    .titulo_proyectos{
        left: 10.7%;
    }
    .imagen_pr{
        left: -54%;
        width: 330px;
        height: 245px;
    }
    .services{
        font-size: 18px;
        top: 35px;
    }
    .ver_proyecto{
        font-size:20px ;
        left: 18%;
        top: 17%;
    }
    form{
        top: -23px;
        right: 45px;
    }
    .titulo_contacto{
        width: 20%;
        bottom: 150px;
        font-size: 38px;
        left: 34.5%;
    }
    .saber{
        bottom: 170px;
        left: 30%;
        font-size: 20px;
    }
    .social{
        top: -30px;
        right: 9.5%;
        left: -9.3%;
        font-size: 21px;
    }
    .github{
        font-size: 18px;
    }
    .git{
        font-size: 15px;
    }
    .linkedin{
        font-size: 18px;
    }
    .linke{
        font-size: 15px;
        top: -69.5px;
        left: 85px;
    }
    .nom, .apelli, .correo, .escribir{
        font-size: 18px;
    }
    .nom{
        left: 58.8%;
    }
    .apelli{
        left: 201px;
        bottom: 39px;
    }
    .correo{
        left: -68px;
        top: 54px;
    }
    .escribir{
        left: -320px;
        top: 150px;
    }
    .nombre_form{
        left: 51%;
        font-size: 18px;
        bottom: 108px;
    }
    .apellido_form{
        left: 17.4%;
        font-size: 18px;
        top: -15px;
    }
    .email_form{
        font-size: 18px;
        right: 111px;
        top: 75px;
    }
    .mensaje_form{
        font-size: 18px;
        top: 198px;
        height: 3px;
        right: 387px;
    }
    .enviar{
        width: 53%;
        font-size: 130%;
        right: 378px;
        top: 210px;
    }
}
@media(max-width:1024px){
    .nombre{
        left: 11px;
        font-size: 23px;
    }
    .sobre_mi{
        font-size: 15px;
    }
    .pro{
        font-size: 15px;
    }
    .cont{
        font-size: 15px;
    }
    .saludo{
        top: 10.8%;
    }
    .texto{
        font-size: 36px;
        bottom: 17px;
    }
    button{
        font-size: 20px;
        padding: 7%;
    }
    .foto{
        left: 37%;
    }
    h3{
        font-size: 35px;
    }
    p{
        font-size: 17px;
    }
    .conoceme{
        right: 29.5%;
    }
    .habilidades{
        top: 0.5%;
        right: 2%;
    }
    .tecnologias{
        right: 63.5%;
        top: 36%;
    }
    .titulo_proyectos{
        left: 16%;
    }
    .imagen_pr{
        left: -42%;
        width: 300px;
        height: 225px;
        top: 40px;
    }
    .services{
        top: 29px;
    }
    .titulo_contacto{
        font-size: 35px;
        left: 41%;
        bottom: 150px;
    }
    .saber{
        left: 36%;
    }
    form{
        top: -28px;
        left: 12px;
    }
    .apelli{
        left: 202px;
    }
    .apellido_form{
        left: 17.3%;
    }
    .escribir{
        left: -315px;
    }
    .mensaje_form{
        right: 387px;
    }
    .social{
        right: -2%;
        left: 2%;
        top: -32px;
    }
}
@media(max-width:768px){
    .nombre{
        font-size: 21px;
        left: 34px;
    }
    .sobre_mi{
        font-size: 14px;
    }
    .pro{
        font-size: 14px;
    }
    .cont{
        font-size: 14px;
    }
    nav{
        position: relative;
        left: 10%;
    }
    .saludo{
        font-size: 37px;
    }
    .texto{
        font-size: 34px;
    }
    button{
        font-size: 17px;
        padding: 5%;
        top: -1px;
    }
    .foto{
        top: 22.5%;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    .titulo{
        bottom: 105px;
    }
    .conoceme{
        top: 18.5%;
    }
    .texto_sobre_mi{
        position: relative;
        bottom: 12px;
        width: 120%;
    }
    .tecnologias{
        right: 73.5%;
    }
    .titulo_about{
        top: 15%;
    }
    .tecnologias{
        top: 39%;
    }
    .titulo_proyectos{
        left: 19%;
    }
    .imagen_pr{
        left: -38%;
        width: 270px;
        height: 190px;
    }
    .services{
        top: 13px;
    }
    .ver_proyecto{
        font-size:18px ;
        top: 10%;
    }
    .titulo_contacto{
        bottom: 116px;
        left: 38%;
        font-size: 30px;
    }
    .saber{
        font-size: 15px;
        left: 34%;
        bottom: 135px;
    }
    .social{
        left: -8.5%;
        font-size: 18px;
    }
    .github{
        font-size: 15px;
    }
    .linkedin{
        font-size: 15px;
    }
    .linke{
        top: -65.7px;
        left: 78px;
    }
    form{
        top: -32px;
        width: 500px;
        left: 34px;
    }
    .nom{
        left: 76.5%;
        font-size: 15px;
        bottom: 110px;
    }
    .apelli{
        left: 158px;    
        bottom: 45px;
        font-size: 15px;
    }
    .correo{
        left: -64px;
        top: 25px;
        font-size: 15px;
    }
    .escribir{
        left: -272px;
        top: 95px;
        font-size: 15px;
    }
    .nombre_form, .apellido_form, .email_form, .mensaje_form{
        font-size: 15px;
    }
    .nombre_form{
        left: 66%;
        padding-top: 7px;
        bottom: 95px;
        
    }
    .apellido_form{
        left: 21.4%;
        padding-top: 7px;
        top: -28px;
    }
    .email_form{
        right: 101px;
        padding-top: 7px;
        top: 42px;
    }
    .mensaje_form{
        padding-top: 14px;
        top: 138px;
        right: 331px;
    }
    .enviar{
        width: 23%;
        font-size: 110%;
        right: 308px;
        top: 155px;
    }
}
@media(max-width:480px){
    .nombre{
        font-size: 19px;
    }
    .sobre_mi{
        font-size: 12px;
        position: relative;
        top: 8px;
    }
    .pro{
        font-size: 12px;
        position: relative;
        top: 8px;
    }
    .cont{
        position: relative;
        left: 73%;
        bottom: 8.5px;
        font-size: 12px;
    }
    .foto{
        display: none;
    }
    .introduccion{
        text-align: center;
        right: 3%;
        width: 60%;
    }
    .saludo{
        font-size: 36px;
    }
    .texto{
        font-size: 33px;
        text-align: center;
    }
    button{
        font-size: 18px;
        padding: 5%;
        top: -53px;
    }
    nav{
        position: relative;
        left: 16px;
        padding: 8px 0px 8px 0px;
        width: 91%;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 13px;
    }
    form{
        width: 300px;
        left: 38px;
        top: -40px;
    }
    .conoceme{
        right: 32%;
    }
    .habilidades{
        margin-right: 15px;
        width: 24%;
        top: -3%;
        right: -1%;
    }
    .titulo{
        left: 28%;
    }
    .titulo_about{
        top: 20%;
        left: -6%;
    }
    .tecnologias{
        top: 42.5%;
        right: 110%;
    }
    .titulo_proyectos{
        left: 26%;
    }
    .services{
        top: -5px;
        font-size: 15px;
    }
    .imagen_pr{
        left: -43%;
        width: 230px;
        height: 150px;
    }
    .ver_proyecto{
        font-size:16px;
        top: 2%;
        left: 17%;
    }
    .titulo_contacto{
        left: 32.8%;
        font-size: 25px;
        bottom: 130px;
    }
    .saber{
        width: 50%;
        font-size: 13px;
        left: 27%;
        bottom: 155px;
    }
    .social{
        left: -21.5%;
        font-size: 15px;
    }
    .github{
        font-size: 13px;
    }
    .git{
        font-size: 13px;
    }
    .linkedin{
        font-size: 13px;
    }
    .linke{
        font-size: 12px;
        top: -64px;
        left: 59px;
    }
    ul{
        left: 9%;
    }
    .nombre_form, .apellido_form, .email_form, .mensaje_form{
        font-size: 13px;
        padding-top: 7.5px;
    }
    .nom{
        left: 108%;
        font-size: 12px;
        bottom: 110px;
    }
    .apelli{
        left: 133px;    
        bottom: 45px;
        font-size: 12px;
    }
    .correo{
        left: -58px;
        top: 25px;
        font-size: 12px;
    }
    .escribir{
        left: -236px;
        top: 95px;
        font-size: 12px;
    }
    .nombre_form{
        left: 94.3%;
        padding-top: 7px;
        bottom: 95px;
        
    }
    .apellido_form{
        left: 31%;
        padding-top: 7px;
        top: -28px;
    }
    .email_form{
        right: 85px;
        padding-top: 7px;
        top: 42px;
    }
    .mensaje_form{
        padding-top: 14px;
        top: 138px;
        right: 282px;
    }
    .enviar{
        font-size: 95%;
        right: 270px;
        padding-right: 75px;
    }
}
@media(max-width:320px){
    .nombre{
        font-size: 16px;
    }
    .sobre_mi{
        font-size: 10px;
        position: relative;
        top: 8px;
        left: 4px;
    }
    .pro{
        font-size: 10px;
        position: relative;
        top: 8px;
        right: 14px;
    }
    .cont{
        position: relative;
        left: 67%;
        bottom: 9px;
        font-size: 10px;
    }
    .saludo{
        font-size: 33px;
        top: 7.5%;  
    }
    .texto{
        font-size: 30px;
    }
    button{
        font-size: 16px;
        top: -16px;
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 11px;
    }
    .conoceme{
        top: 19%;
    }
    .tecnologias{
        right: 87%;
        top: 33%;
    }
    .python{
        position: relative;
        top: 40px;
        right: 126px;
    }
    .titulo_proyectos{
        left: 32%;
    }
    .imagen_pr{
        top: 20px;
        left: -27%;
        width: 200px;
        height: 120px;
    }
    .services{
        font-size: 12px;
        top: -14px;
    }
    .ver_proyecto{
        font-size: 13px;
        top: -6%;
        left: 15%;
    }
    form{
        width: 200px;
    }
    .titulo_contacto{
        left: 29.5%;
        font-size: 18px;
        bottom: 130px;
    }
    .saber{
        width: 62%;
        font-size: 11px;
        left: 21%;
        bottom: 146px;
    }
    .social{
        left: -24%;
        font-size: 13px;
        top: -37px;
    }
    .github{
        right: 19.8px;
    }
    .linke{
        top: -46px;
        left: -1.3px;
    }
    .nombre_form, .apellido_form, .email_form, .mensaje_form{
        font-size: 11px;
        padding-top: 6px;
    }
    .nom{
        left: 128%;
    }
    .apelli{
        left: 92px;    
    }
    .correo{
        left: -74px;
    }
    .escribir{
        left: -228px;
    }
    .nombre_form{
        left: 108%;
    }
    .apellido_form{
        left: 25%;
    }
    .email_form{
        right: 103px;
    }
    .mensaje_form{
        right: 276px;
    }
    .enviar{
        right: 250px;
        padding: 2px;
    }
}
