@media(max-width:1920px){
    .nombre{
        font-size: 40px;
    }
    .sobre_mi{
        font-size: 25px;
    }
    .introduccion{
        right: 23.5%;
    }
    .pro{
        font-size: 25px;
    }
    .cont{
        font-size: 25px;
    }
    .saludo{
        font-size: 90px;
    }
    .texto{
        font-size: 70px;
    }
    button{
        bottom: 14.5%;
        padding: 8%;
        font-size: 30px;
    }
    .foto{
        display: flex;
        left: 47%;
        height: 77%;
    }
    h3{
        font-size: 55px;
    }
    .titulo{
        bottom: 170px;
    }
    p{
        font-size: 27px;
    }
    .conoceme{
        right: 18.5%;
    }
    .titulo_about{
        top: 10%;
    }
    .tecnologias{
        right: 51.5%;
    }
    .titulo_proyectos{
        left: 6.5%;
        bottom: 23px;
    }
    .imagen_pr{
        right: 73%;
        width: 415px;
        height: 315px;
    }
    .services{
        position: relative;
        font-size: 27px;
        top: 22px;
    }
    .ver_proyecto{
        left: 20%;
        padding: 25px;
        top: 14%;
    }
    footer{
        height: 94vh;
    }
    .titulo_contacto{
        font-size: 55px;
        bottom: 200px;
        left: 24%;
    }
    .saber{
        bottom: 210px;
        left: 19%;
        font-size: 27px;
    }
    .social{
        font-size: 40px;
        right: 38%;
    }
    .github{
        font-size: 30px;
    }
    .git{
        font-size: 20px;
    }
    .linkedin{
        font-size: 30px;
        top: 2px;
    }
    .linke{
        font-size: 20px;
        left: 125px;
        bottom: 50px;
    }
    form{
        bottom: 30px;
    }
    label{
        font-size: 22px;
    }
    input{
        padding-top: 22px;
        font-size: 22px;
    }
    .nom{
        left: 59%;
        bottom: 130px;
    }
    .nombre_form{
        left: 49%;
        bottom: 100px;
    }
    .apelli{
        left: 212px;
        bottom: 30px;
    }
    .apellido_form{
        left: 16.7%;
        top: 5px;
    }
    .correo{
        left: -113px;
        top: 75px;
    }
    .email_form{
        top: 105px;
        right: 169px;
    }
    .escribir{
        top: 190px;
        left: -415px;
    }
    .mensaje_form{
        top: 250px;
        right: 504px;
    }
    .enviar{
        font-size: 170%;
        right: 465px;
        top: 285px;
    }
    button{
        bottom: 25%;
        padding: 5%;
        font-size: 27px;
    }
    
}
@media(max-width:1440px){
    .nombre{
        font-size:28px;
    }
    .sobre_mi{
        font-size: 19px;
    }
    .pro{
        font-size: 19px;
    }
    .cont{
        font-size: 19px;
    }
    .saludo{
        font-size: 60px;
    }
    .texto{
        font-size: 40px;
    }
    .foto{
        left: 45%;
    }
}
@media(max-width:1280px){}
@media(max-width:1240px){}
@media(max-width:1024px){}
@media(max-width:768px){}
@media(max-width:480px){}
@media(max-width:320px){}
